# Environment variables for the application
APP_NAME=backend
APP_VERSION=1.0.0
SERVER_PORT=3013

WEB_ORIGIN=http://localhost:3000
API_ORIGIN=http://localhost:3013

# Database
PUBLIC_SERVICE_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/public-service"




# OAuth2 Configuration
GOOGLE_CLIENT_ID=972869630185-bplra5hsg9g9fb596nbf3a1ccfse2t44.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=Ov23li8vdN6lp4glqqnR
GITHUB_CLIENT_SECRET=
# JWT Configuration
JWT_ACCESS_EXPIRES="15m"
JWT_ACCESS_SECRET=""
JWT_REFRESH_EXPIRES="7d"
JWT_REFRESH_SECRET=""
# file storage
LOCAL_STORAGE_DIR="/tmp/uploads"
R2_ACCESS_KEY_ID="98e9f42e50d70c6a2459e2f4085fc404"
R2_ACCOUNT_ID="8882a1c6f1bc377ce01c85809ea03b9e"
R2_BUCKET="xingfan-studio-develope"
R2_PUBLIC_BASE_URL="https://xingfan-studio-develope.r2.dev"
R2_SECRET_ACCESS_KEY=""
# email
RESEND_API_KEY=""
RESEND_FROM_EMAIL="info@xingfan-studio.com"
SIGNED_URL_EXPIRES_SECONDS="3600"
SMTP_FROM="auth@monorepo.local"
SMTP_PORT="587"
SUPER_ADMIN_EMAILS="x90051234@gmail.com"



